@charset "utf-8";

.main-screen {
  display: flex;
  flex-direction: column;
}

.main-title {
  font-size: 3rem;
  margin-top: 2rem;
  font-family: cursive;
}

.backgrounds {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.img-box {
  border: black solid 1px;
  border-radius: 10px;
  width: 20%;
  max-width: 20rem;
  height: 50rem;
  overflow: hidden;
  cursor: pointer;
}

.img-box:hover {
  border: black solid 5px;
  border-radius: 10px;
}

.bg-text-ballroom {
  color: orange;
  position: absolute;
  width: 20%;
  font-size: 4rem;
  font-family: cursive;
}
.bg-text-forest {
  color: green;
  position: absolute;
  width: 20%;
  font-size: 4rem;
  font-family: cursive;
}
.bg-text-ocean {
  color: blue;
  position: absolute;
  width: 20%;
  font-size: 4rem;
  font-family: cursive;
}
.bg-text-village {
  color: rgb(114, 81, 19);
  position: absolute;
  width: 20%;
  font-size: 4rem;
  font-family: cursive;
}

.bg-img {
  position: relative;
  height: 60rem;
  object-fit: cover;
  vertical-align: middle;
}

.bg-img:hover {
  opacity: 50%;
}
